.App {
  text-align: center;
  width: 400px;
  margin: 0 auto;
}

.hidden {
    display: none;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

ul {
    list-style: none;
}

.pokedex {
    position: relative;
}

.foto {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 250px;
    left: 45%;
    width: 150px;
    height: 150px;
}

.fotoGrande {
    width: 180px;
    height: 180px;
}

.notFoundText {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 260px;
    left: 45%;
}

.nombre {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 180px;
    left: 45%;
}

.numero {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 457px;
    left: 37%;
    font-weight: bold;
}

.datos {
    position: absolute;
    left: 115%;
    top: 165px;
    font-weight: bold;
    text-align: left;
    width: 200px;
}

#next {
    position: absolute;
    left: 75%;
    top: 425px;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

#prev {
    position: absolute;
    left: 60%;
    top: 425px;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

#fotito {
    display: none;
    position: absolute;
    top: 8px;
    left: 24px;
}

#togglePhotoSize {
    position: absolute;
    top: 71%;
    left: 43px;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

.notFound {
    width: 60px;
}

#numPad {
    position: absolute;
    left: 470px;
    top: 54%;
    display: flex;
    flex-flow: row wrap;
    width: 200px;
}

.numPadNum {
    width: 40px;
    height: 30px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 1px black;
    cursor: pointer;
}

#numPadBotones {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 110px;
    left: 97px;
    top: 13px;
    font-weight: bold;
    cursor: pointer;
    font-size: 12px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
